#recommendations_text Here are some recommendations for you and your friends!
%ul#movies.span12
  -@group_recs.each_with_index do |rec, i|
    %li{ :class => (i > 4 ? "movie hidden" : "movie") }
      .image= image_tag(rec.image_url)
      .details
        .title
          %span= rec.title
          .stars{ :style => "width: #{rating_to_pixels(rec.rating)}px"}
          .clearfix
        %p.directed_by
          %strong Directed by:
          = rec.directed_by
        %p.synopsis
          %strong Synopsis:
          = rec.synopsis
        %p.trailer
          = link_to "Watch Trailer", rec.trailer, :target => "_blank"
      .clearfix

  #load_more_wrapper
    = link_to "Load More", "#", :id => "load_more", :class => 'btn btn-large'

