<!DOCTYPE html>
<html>
<head>
  <title>Groupit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		
		<div id="header" class="span12">
			<div class="span8" style="margin-left: 0">
        <a href='/'><h1>Grounch</h1></a>
			</div>
			
			<% if @current_user %>
				<div class="right">
					<%= image_tag @current_user.image_url, :class => 'right' %>
					<div class="right user_details">
						<div class="right">
							Hi, <%= @current_user.first_name %>!
						</div>
						<div>
						<%= link_to "Logout", logout_url, :class => "logout right" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<%= yield %>

    <div class="span12 footer">
      <p>
        Made by <a href="http://jimmy-li.net/blog">Jimmy Li</a> and <a href="http://jordinl.com">Jordi Noguera</a>
      </p>
      <p>
        Yeah, we use <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
      </p>

    </div>
	</div>

</body>
</html>
