<!DOCTYPE html>
<html>
<head>
  <title>Groupit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">

		<% if @current_user %>
		  <%= link_to "Logout", logout_url %>
		<% end %>

		<%= yield %>
		
	</div>

</body>
</html>
