<!DOCTYPE html>
<html>
<head>
  <title><%=h "Grounch - #{yield(:title)}" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30283790-1']);
	  _gaq.push(['_setDomainName', 'groun.ch']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	
	<div class="container">
		
		<div id="header" class="span12">
			<div class="span8" style="margin-left: 0">
        <%= image_tag "grounch.jpeg2" %>
			</div>
			
			<% if @current_user %>
				<div class="right user">
					<%= image_tag @current_user.image_url, :class => 'right' %>
					<div class="right user_details">
						<div class="right">
							Hi, <%= @current_user.first_name %>!
						</div>
						<div>
						<%= link_to "Logout", logout_url, :class => "logout right" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<%= yield %>

    <div class="span6 footer">
      <p>
        Made by <a href="http://jimmy-li.net/blog">Jimmy Li</a> and <a href="http://jordinl.com">Jordi Noguera</a>
      </p>
      <p>
        Yeah, we use <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
      </p>
    </div>
		<div id="hunch_powered"> 
			Powered by <%= image_tag 'hunch_logo.png', :size => "60x60", :id => "hunch_logo" %>
		</div>
			

	</div>

</body>
</html>
